span.lg-red {
   font-weight: 600;
   font-size: 11.5vh;
   color: #dc4c27;
}
section.cd-hero.js-cd-hero {
   width: 100%;
}
body.site-navbar-small {
   padding-top: 2.858rem;
}
.page-content {padding-top: 21px;padding-bottom: 0;}
.cd-hero__nav.js-cd-nav nav {position: absolute;top: -8px;left: 35%;top: -37px;}
.title-home h2 {
   color: #231f20 !important;
   font-weight: 800!important;
   font-size: 3.5vh !important;
}
.title-home {
   background: url(../examples/images/icon/02.png) no-repeat, url(../examples/images/icon/03.png) no-repeat 100% 0;
   background-size: contain;
   text-align: center;
}
.indigator-text [class*="col"] {
    padding: 0;
}

.indigator-text h4 {
    margin-top: 8px !important;
    text-align: left;
}
.h-90 {
    height: 94px !important;
}
.navbar {
    min-height: 4.715rem;
    padding: 0;
    border: none;
    /* -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08); */
    /* box-shadow: 0 2px 4px rgba(0,0,0,.08); */
    border-bottom: solid;
    border-color: #f25b5b !important;
}
.cd-hero__nav.js-cd-nav nav {
    position: absolute;
    top: -8px;
    left: 31%;
    top: -49px;
}
div#example1 {
    max-width: 93% !important;
}
.sp-mask.sp-grab {
    height: 75% !important;
}

.dashboard {
    background-color: white;
    padding: 13px;
    padding-bottom: 0;
    display: contents;
}
.sp-thumbnails-container.sp-bottom-thumbnails {
    position: fixed;
    bottom: 47px;
    left: 47px;
    background-color: white;
    webkit-box-shadow: 0 -8px 28px rgba(0,0,0,.08);
    box-shadow: 0 -8px 28px rgba(0,0,0,.08);
}

.sp-mask.sp-grab {
    position: fixed;
}

div#example1 {
    height: 414px!important;
    position: fixed;
    padding: 15px;
    background-color: white;
    margin-top: 6px;
}
.sp-grab {
    cursor: url(image/openhand.cur),move !important;
}
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
    border-bottom: 5px solid #dc4c27!important;
}
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
   
    border-bottom: 13px solid #dc4c27! important;

}
.icon-but {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
}

.icon-in {grid-area: menu;}

.sp-thumbnail-title {grid-area: main;font-weight: 400;color: #595f65;font-size: 18px;}

.sp-thumbnail-description {grid-area: footer;}
.img-info {
    text-align: center;
}
.sp-thumbnails-container {
    background-color: #f1f4f5;
}
.heading-baneer {
    display: table;
}

.titele {
    display: table-cell;
    vertical-align: bottom;
}
.titele h2 {
    font-size: 51px;
    margin: 0;
    font-weight: 700;
}
.bo-r {border-right: solid 1px;border-right-style: dotted;border-color: #f59e2b;}
.bo-b {border-bottom: solid 1px;border-bottom-style: dotted;border-color: #f59e2b;}

.row.bo-b [class*="col"] {
    padding-right: 0;
    text-align: right;
}

.row.bo-b [class*="col"] .btn-toolbar button {
    width: 71px;
}
.nav-tabs-solid~.tab-content {
    padding: 1.429rem;
    background-color: #ffffff;
    border: solid 1px;
    border-color: #d64a28;
}
.titele2 h2 {
    margin: 0;
    font-size: 22px;
}
.ScrollStyle
{
    max-height: 414px;
    overflow-y: scroll !important;
}



.ScrollStyle::-webkit-scrollbar-track
{
    -webkit-box-shadow:#ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute !important;
    right: 0;
    top: 0;
    height: 100%;
}

.ScrollStyle::-webkit-scrollbar
{
    
    width: 1px;
    background-color: #f1f1f1;
    position: absolute !important;
    right: 0;
    top: 0;
    height: 0px;
    
}

.ScrollStyle:hover::-webkit-scrollbar
{
    display: block;

}

.ScrollStyle::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #f1f1f1;

}

.info1 {
    display: table;
}

.info3 {
    display: table-cell;
}

.info1 img {
    width: 30px;
}
.charthide{
    display: none;
}
.chartshow{
    display: block;
}
.sp-arrows.sp-fade-arrows {
    display: none;
}
.site-footer-right ul li {
    display: inline-block;
}

.site-footer-right ul li img {
    width: 40px;
    margin-left: 17px;
}
.counter-label {
    font-size: 18px;
    padding: 15px;
}
.site-footer-right ul {
    margin: 0;
}
.brand ul li {
    display: inline-block;
    margin-left: 21px;
}

.brand ul {
    background-color: white;
    border-radius: 4px;
}
.page-login-v2 .page-login-main {
    padding: 82px 60px 141px !important;
}
.page-login-v2:before {
    background-image: url(../../images/login.jpg);
    background-position: left !important;
    background-size: contain !important;
}
.page-login-v2 .page-brand-info {
    margin: 366px 100px 0 90px!important;
}
.page-login-v2 .page-login-main {
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    min-height: 100%;
    padding: 150px 60px 180px;
    color: #76838f;
    background: #ffffff !important;
}
.page-dark.layout-full::before {
    position: fixed;
    top: 0;
    left: 0;
     /*z-index: 0 !important; */
    width: 100%;
    height: 100%;
    content: "";
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
}
.page-dark.layout-full .brand-text {
    font-size: 18px;
    color: #fff !important;
    text-transform: uppercase;
}
.col-lg-12.info [class*="col"] {
    padding: 0px;
    /* margin: 0; */
    padding-right: 13px;
}

.col-lg-12.info [class*="col"] p {
    margin: 0;
    text-align: center;
}

.info [class*="col"] h4 {
    text-align: center;
    font-size: 56px;
    font-weight: 600;
    color: #ff4c52;
}
.title {
    padding: 10px;
}
.alert-box {
    /* border: solid 1px; */
    border-color: #f5f5f5;
    margin: 0;
}
.content h3 {
    margin-top: 0;
}

.alart-box img {
    width: 91px;
}
.alart-box.icon {
    display: table-cell;
}

.alart-box {
    display: table;
    border-bottom: solid 1px;
    border-top: solid 1px;
}

.content {
    display: table-cell;
}

.icon img {
    width: 29px;
}

.col-lg-3.alert-box h6 {
    margin: 0;
}

.col-lg-3.alert-box a.list-group-item {
    padding: 15px;
}
.alert-box h3 {
    margin-top: 7px;
    padding-left: 15px;
}
.col-lg-3.alert-box a.list-group-item h6.media-heading {
    white-space: normal;
    line-height: 20px;
}
.title p {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}
/*.donut-sm .donut-label {
    font-size: 35px !important;
}*/
.title h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 14px;
}
canvas {
    padding: 14px;
}
.titele h3 {
    font-size: 16px;
    margin-bottom: 13px;
}
.main-title h2 {
    margin: 0!important;
    text-align: center!important;
}
.main-title h3 {
    text-align: center;
    margin: 0;
}
.main-title h4 {
    margin: 0;
    text-align: center;
}
.donut-label:after {
    content: "%";
}
.donut.donut-lg {
    margin-top: 36px;
}
.sp-thumbnails-container :hover {cursor: pointer;}
.donut-label {
    color: #589ffc!important;
}
.sp-thumbnail:hover {
    background-color: #f3f7f9;
}
.sp-bottom-thumbnails.sp-has-pointer .sp-thumbnail {
    padding: 3px;
}
@media only screen and (min-width: 1285px) {
 .donut.donut-lg canvas {
    height: 125px !important;
}
}
@media only screen and (max-width: 1286px) {
 .donut.donut-lg canvas {
    height: 137px !important;
}



}
.last-readmore {
    text-align: center;
    border: solid 1px;
    border-color: #dadada;
}
.row.bo-b [class*="btn"] {
    width: 100%;
}