
.mo_tab_show {
    display: none;
}
@media only screen and (max-width: 600px) {
	ul.nav.nav-tabs.nav-tabs-solid, .tab-content.py-15 {
    display: inline-block;
    width: 100%;
}

ul.nav.nav-tabs.nav-tabs-solid li {
    display: inline-block;
}

.mo_tab {
    display: none !important;
}

div#example1 {
    height: 414px!important;
    position: fixed;
    padding: 0;
    background-color: white;
    margin-top: 1px;
}
.sp-thumbnails-container.sp-bottom-thumbnails {
bottom: 16px;
left: 7px;
}
.icon-in img {
    display: none;
}
footer.site-footer {
    display: none;
}
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after{
	display: none;
}
.sp-thumbnail-description {
    display: none;
}
}
@media (min-height: 1080px) and (min-width: 1920px) {
    div#example1 {
    height: 478px!important;
   
}
    
}