

.loginButton {
    background-color: #002984 !important;
    color: #fff !important;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 6em;
  }

  .loginHeader{ 
    color: #102027 !important;
  }


.field ::placeholder {
    font-weight: 900;
}